


$colorCyan          : rgb(63, 203, 203);
$colorMagenta       : rgb(169, 29, 113);
$colorMagentaLight  : rgb(232, 38, 122);
$colorYellow        : #ffaf2e;
$colorBlack         : rgb(0, 0, 0);
$colorText          : #fff;

$colorCard          : rgb(188, 42, 122);
$colorDisable       : #989898;
$colorWrong         : #FF0015;
$colorCorrect       : #01B958;


