@font-face {
  font-family: fontTrivia;
  src: url("../fonts/Oswald_variable.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

body {
  overflow: hidden;
  font-size: 18px;
  font-family: "Exo 2", sans-serif;
  font-family: fontTrivia;
}
body * a:active {
  background-color: rgba(0, 0, 0, 0);
  outline-offset: none;
}
body a:-webkit-any-link {
  color: rgba(0, 0, 0, 0);
  cursor: pointer;
  text-decoration: none;
}
body #inputNumCat {
  width: 100px;
  height: 30px;
  position: absolute;
  bottom: 150px;
}

@keyframes catIcon {
  0%, 100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes catCompleted {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
@keyframes catSelected {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes showSideLeft {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes showSideRight {
  0% {
    opacity: 0;
    transform: translateX(250px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes shakeWrong {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70% {
    transform: translateX(-10px);
  }
  20%, 40%, 60% {
    transform: translateX(10px);
  }
  80% {
    transform: translateX(8px);
  }
  90% {
    transform: translateX(-8px);
  }
}
@keyframes blinkCorrect {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
@keyframes blinkCompleted {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes scaleCompleted {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}
@keyframes answerAnimation {
  0% {
    opacity: 1;
    transform: scale(1.3) translateY(0px);
    -webkit-transform: scale(1.3) translateY(0px);
    -moz-transform: scale(1.3) translateY(0px);
    -ms-transform: scale(1.3) translateY(0px);
    -o-transform: scale(1.3) translateY(0px);
  }
  100% {
    opacity: 0;
    transform: scale(1) translateY(150px);
    -webkit-transform: scale(1) translateY(150px);
    -moz-transform: scale(1) translateY(150px);
    -ms-transform: scale(1) translateY(150px);
    -o-transform: scale(1) translateY(150px);
  }
}
@keyframes shineCongrats {
  0% {
    background-position: 110% 0%, 0 0;
  }
  100% {
    background-position: -10% 0%, 0 0;
  }
}
.spiner-wheel,
.category {
  width: 100vw;
  max-width: 400px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  color: #fff;
}
.spiner-wheel .hide,
.category .hide {
  display: none;
}
.spiner-wheel .logo-img,
.category .logo-img {
  width: 100vw;
  max-width: 400px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 2vh;
}
.spiner-wheel .logo-img a,
.category .logo-img a {
  font-size: 0px;
}
.spiner-wheel .logo-img a img,
.category .logo-img a img {
  height: 10vh;
  min-height: 50px;
  max-height: 100px;
}

.spiner-wheel .sound-controls {
  z-index: 20000;
  width: 100vw;
  max-width: 400px;
  position: absolute;
  top: 14vh;
  display: flex;
  justify-content: space-between;
}
.spiner-wheel .sound-controls .volume-control, .spiner-wheel .sound-controls .mute-control {
  margin-right: 10px;
}
.spiner-wheel .sound-controls .volume-control :hover, .spiner-wheel .sound-controls .mute-control :hover {
  cursor: pointer;
}
.spiner-wheel .sound-controls .volume-control input[type=checkbox], .spiner-wheel .sound-controls .mute-control input[type=checkbox] {
  position: relative;
  bottom: 30%;
  left: 30px;
  opacity: 0;
}
.spiner-wheel .sound-controls .volume-control img, .spiner-wheel .sound-controls .mute-control img {
  height: 40px;
}
.spiner-wheel .sound-controls .volume-control input[type=range], .spiner-wheel .sound-controls .mute-control input[type=range] {
  height: 32px;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 150px;
  position: absolute;
  top: 120px;
  right: -50px;
  background-color: rgba(0, 0, 0, 0);
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
}
.spiner-wheel .sound-controls .volume-control input[type=range]:focus, .spiner-wheel .sound-controls .mute-control input[type=range]:focus {
  outline: none;
}
.spiner-wheel .sound-controls .volume-control input[type=range]::-webkit-slider-runnable-track, .spiner-wheel .sound-controls .mute-control input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.529);
  background: #B6B6B6;
  border-radius: 25px;
  border: 1px solid #8A8A8A;
}
.spiner-wheel .sound-controls .volume-control input[type=range]::-webkit-slider-thumb, .spiner-wheel .sound-controls .mute-control input[type=range]::-webkit-slider-thumb {
  box-shadow: -2px 1px 1px #828282;
  border: 1px solid #8A8A8A;
  height: 24px;
  width: 35px;
  background: #DADADA;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  margin-top: -5px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.spiner-wheel .sound-controls .volume-control input[type=range]:focus::-webkit-slider-runnable-track, .spiner-wheel .sound-controls .mute-control input[type=range]:focus::-webkit-slider-runnable-track {
  background: #B6B6B6;
}
.spiner-wheel .sound-controls .volume-control input[type=range]::-moz-range-track, .spiner-wheel .sound-controls .mute-control input[type=range]::-moz-range-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #B6B6B6;
  border-radius: 25px;
  border: 1px solid #7b7b7b;
}
.spiner-wheel .sound-controls .volume-control input[type=range]::-moz-range-thumb, .spiner-wheel .sound-controls .mute-control input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.529);
  border: 1px solid #7b7b7b;
  height: 24px;
  width: 35px;
  border-radius: 6px;
  background: #DADADA;
  cursor: pointer;
}
.spiner-wheel .sound-controls .volume-control input[type=range]::-ms-track, .spiner-wheel .sound-controls .mute-control input[type=range]::-ms-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.spiner-wheel .sound-controls .volume-control input[type=range]::-ms-fill-lower, .spiner-wheel .sound-controls .mute-control input[type=range]::-ms-fill-lower {
  background: #B6B6B6;
  border: 1px solid #8A8A8A;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000;
}
.spiner-wheel .sound-controls .volume-control input[type=range]::-ms-fill-upper, .spiner-wheel .sound-controls .mute-control input[type=range]::-ms-fill-upper {
  background: #B6B6B6;
  border: 1px solid #7b7b7b;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000;
}
.spiner-wheel .sound-controls .volume-control input[type=range]::-ms-thumb, .spiner-wheel .sound-controls .mute-control input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.529);
  border: 1px solid #8A8A8A;
  height: 24px;
  width: 35px;
  border-radius: 6px;
  background: #DADADA;
  cursor: pointer;
}
.spiner-wheel .sound-controls .volume-control input[type=range]:focus::-ms-fill-lower, .spiner-wheel .sound-controls .mute-control input[type=range]:focus::-ms-fill-lower {
  background: #B6B6B6;
}
.spiner-wheel .sound-controls .volume-control input[type=range]:focus::-ms-fill-upper, .spiner-wheel .sound-controls .mute-control input[type=range]:focus::-ms-fill-upper {
  background: #B6B6B6;
}
.spiner-wheel .sound-controls .mute-control {
  margin-right: 20px;
}
.spiner-wheel .stripe {
  width: 100vw;
  max-width: 400px;
  height: 220px;
  position: absolute;
  top: calc(25vh + 10px);
  background-color: rgb(169, 29, 113);
}
.spiner-wheel #wrapper {
  width: 80vw;
  max-width: 600px;
  position: absolute;
  top: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spiner-wheel #wrapper #txt {
  color: #eaeaea;
  opacity: 0;
}
.spiner-wheel #wrapper #wheel {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px, rgba(0, 0, 0, 0.05) 0px 3px 0px;
}
.spiner-wheel #wrapper #wheel {
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
}
.spiner-wheel #wrapper #wheel .arrow {
  z-index: 30000;
  position: relative;
  top: -144px;
  right: -224px;
}
.spiner-wheel #wrapper #wheel .arrow img {
  width: 40px;
}
.spiner-wheel #wrapper #wheel .ring {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  right: 0px;
}
.spiner-wheel #wrapper #wheel .ring .center-ring {
  z-index: 1;
  width: 250px;
  height: 250px;
  border: 10px solid #ffaf2e;
  border-radius: 50%;
}
.spiner-wheel #wrapper #wheel .ring .inner-ring {
  z-index: 15;
  width: 230px;
  height: 230px;
  position: absolute;
  top: 10px;
  right: 10px;
  border: 1px solid #000;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  box-shadow: 0px 0px 15px 4px rgb(48, 48, 48) inset;
}
.spiner-wheel #wrapper #wheel .ring .outter-ring {
  z-index: 15;
  width: 250px;
  height: 250px;
  position: absolute;
  top: 0px;
  border: 1px solid #000;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
}
.spiner-wheel #wrapper #inner-wheel {
  width: 100%;
  height: 100%;
  transition-property: all;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-timing-function: cubic-bezier(0, 0.99, 0.44, 0.99);
  -webkit-transition-timing-function: cubic-bezier(0, 0.99, 0.44, 0.99);
  -moz-transition-timing-function: cubic-bezier(0, 0.99, 0.44, 0.99);
  -ms-transition-timing-function: cubic-bezier(0, 0.99, 0.44, 0.99);
  -o-transition-timing-function: cubic-bezier(0, 0.99, 0.44, 0.99);
  /* transition-duration: 2s;
  -webkit-transition-duration: 2s;
  -moz-transition-duration: 2s;
  -ms-transition-duration: 2s;
  -o-transition-duration: 2s; */
  /* transition: all 2s cubic-bezier(0, .99, .44, .99);
  -webkit-transition: all 2s cubic-bezier(0, .99, .44, .99);
  -moz-transition: all 2s cubic-bezier(0, .99, .44, .99);
  -ms-transition: all 2s cubic-bezier(0, .99, .44, .99);
  -o-transition: all 2s cubic-bezier(0, .99, .44, .99); */
}
.spiner-wheel #wrapper #wheel .sec {
  width: 200px;
  height: 200px;
  position: absolute;
  transform-origin: 0px 0px;
  left: 125px;
  top: 125px;
  opacity: 1;
}
.spiner-wheel #wrapper #wheel .sec h5 {
  z-index: 1000000;
  font-size: 0.7rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.spiner-wheel #wrapper #wheel .sec img {
  width: 60px;
}
.spiner-wheel #wrapper #wheel .four-fractions .sec {
  position: absolute;
  width: 200px;
  height: 200px;
  transform-origin: 0px 0px;
  left: 125px;
  top: 125px;
  opacity: 1;
}
.spiner-wheel #wrapper #wheel .four-fractions .sec h5 {
  position: relative;
  top: 65px;
  right: 30px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
}
.spiner-wheel #wrapper #wheel .four-fractions .sec img {
  width: 60px;
  position: relative;
  top: 0px;
  left: 15px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
}
.spiner-wheel #wrapper #wheel .four-fractions .sec:nth-child(1) {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}
.spiner-wheel #wrapper #wheel .four-fractions .sec:nth-child(2) {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}
.spiner-wheel #wrapper #wheel .four-fractions .sec:nth-child(3) {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.spiner-wheel #wrapper #wheel .four-fractions .sec:nth-child(4) {
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
}
.spiner-wheel #wrapper #wheel .five-fractions .sec {
  -webkit-clip-path: polygon(28% 100%, 0 0, 100% 0);
  clip-path: polygon(28% 100%, 0 0, 100% 0);
}
.spiner-wheel #wrapper #wheel .five-fractions .sec h5 {
  position: relative;
  top: 50px;
  right: 15px;
  transform: rotate(125deg);
  -webkit-transform: rotate(125deg);
  -moz-transform: rotate(125deg);
  -ms-transform: rotate(125deg);
  -o-transform: rotate(125deg);
}
.spiner-wheel #wrapper #wheel .five-fractions .sec img {
  width: 60px;
  position: relative;
  top: -10px;
  left: 20px;
  transform: rotate(125deg);
  -webkit-transform: rotate(125deg);
  -moz-transform: rotate(125deg);
  -ms-transform: rotate(125deg);
  -o-transform: rotate(125deg);
}
.spiner-wheel #wrapper #wheel .five-fractions .sec:nth-child(1) {
  z-index: 1;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}
.spiner-wheel #wrapper #wheel .five-fractions .sec:nth-child(2) {
  transform: rotate(72deg);
  -webkit-transform: rotate(72deg);
  -moz-transform: rotate(72deg);
  -ms-transform: rotate(72deg);
  -o-transform: rotate(72deg);
}
.spiner-wheel #wrapper #wheel .five-fractions .sec:nth-child(3) {
  transform: rotate(144deg);
  -webkit-transform: rotate(144deg);
  -moz-transform: rotate(144deg);
  -ms-transform: rotate(144deg);
  -o-transform: rotate(144deg);
}
.spiner-wheel #wrapper #wheel .five-fractions .sec:nth-child(4) {
  transform: rotate(216deg);
  -webkit-transform: rotate(216deg);
  -moz-transform: rotate(216deg);
  -ms-transform: rotate(216deg);
  -o-transform: rotate(216deg);
}
.spiner-wheel #wrapper #wheel .five-fractions .sec:nth-child(5) {
  transform: rotate(288deg);
  -webkit-transform: rotate(288deg);
  -moz-transform: rotate(288deg);
  -ms-transform: rotate(288deg);
  -o-transform: rotate(288deg);
}
.spiner-wheel #wrapper #wheel .six-fractions .sec {
  -webkit-clip-path: polygon(57% 100%, 0 0, 100% 0);
  clip-path: polygon(57% 100%, 0 0, 100% 0);
}
.spiner-wheel #wrapper #wheel .six-fractions .sec h5 {
  position: relative;
  top: 40px;
  right: 15px;
  transform: rotate(120deg);
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -o-transform: rotate(120deg);
}
.spiner-wheel #wrapper #wheel .six-fractions .sec img {
  width: 50px;
  position: relative;
  top: -10px;
  left: 30px;
  transform: rotate(120deg);
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -o-transform: rotate(120deg);
}
.spiner-wheel #wrapper #wheel .six-fractions .sec:nth-child(1) {
  z-index: 1;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}
.spiner-wheel #wrapper #wheel .six-fractions .sec:nth-child(2) {
  transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
}
.spiner-wheel #wrapper #wheel .six-fractions .sec:nth-child(3) {
  transform: rotate(120deg);
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -o-transform: rotate(120deg);
}
.spiner-wheel #wrapper #wheel .six-fractions .sec:nth-child(4) {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.spiner-wheel #wrapper #wheel .six-fractions .sec:nth-child(5) {
  transform: rotate(240deg);
  -webkit-transform: rotate(240deg);
  -moz-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  -o-transform: rotate(240deg);
}
.spiner-wheel #wrapper #wheel .six-fractions .sec:nth-child(6) {
  transform: rotate(300deg);
  -webkit-transform: rotate(300deg);
  -moz-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  -o-transform: rotate(300deg);
}
.spiner-wheel #wrapper #wheel .seven-fractions .sec {
  -webkit-clip-path: polygon(79% 100%, 0 0, 100% 0);
  clip-path: polygon(79% 100%, 0 0, 100% 0);
}
.spiner-wheel #wrapper #wheel .seven-fractions .sec h5 {
  position: relative;
  top: 35px;
  right: 10px;
  transform: rotate(115deg);
  -webkit-transform: rotate(115deg);
  -moz-transform: rotate(115deg);
  -ms-transform: rotate(115deg);
  -o-transform: rotate(115deg);
}
.spiner-wheel #wrapper #wheel .seven-fractions .sec img {
  width: 45px;
  position: relative;
  top: -12px;
  left: 35px;
  transform: rotate(115deg);
  -webkit-transform: rotate(115deg);
  -moz-transform: rotate(115deg);
  -ms-transform: rotate(115deg);
  -o-transform: rotate(115deg);
}
.spiner-wheel #wrapper #wheel .seven-fractions .sec:nth-child(1) {
  z-index: 1;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}
.spiner-wheel #wrapper #wheel .seven-fractions .sec:nth-child(2) {
  transform: rotate(51.4deg);
  -webkit-transform: rotate(51.4deg);
  -moz-transform: rotate(51.4deg);
  -ms-transform: rotate(51.4deg);
  -o-transform: rotate(51.4deg);
}
.spiner-wheel #wrapper #wheel .seven-fractions .sec:nth-child(3) {
  transform: rotate(102.8deg);
  -webkit-transform: rotate(102.8deg);
  -moz-transform: rotate(102.8deg);
  -ms-transform: rotate(102.8deg);
  -o-transform: rotate(102.8deg);
}
.spiner-wheel #wrapper #wheel .seven-fractions .sec:nth-child(4) {
  transform: rotate(154.3deg);
  -webkit-transform: rotate(154.3deg);
  -moz-transform: rotate(154.3deg);
  -ms-transform: rotate(154.3deg);
  -o-transform: rotate(154.3deg);
}
.spiner-wheel #wrapper #wheel .seven-fractions .sec:nth-child(5) {
  transform: rotate(205.6deg);
  -webkit-transform: rotate(205.6deg);
  -moz-transform: rotate(205.6deg);
  -ms-transform: rotate(205.6deg);
  -o-transform: rotate(205.6deg);
}
.spiner-wheel #wrapper #wheel .seven-fractions .sec:nth-child(6) {
  transform: rotate(257.1deg);
  -webkit-transform: rotate(257.1deg);
  -moz-transform: rotate(257.1deg);
  -ms-transform: rotate(257.1deg);
  -o-transform: rotate(257.1deg);
}
.spiner-wheel #wrapper #wheel .seven-fractions .sec:nth-child(7) {
  transform: rotate(308.5deg);
  -webkit-transform: rotate(308.5deg);
  -moz-transform: rotate(308.5deg);
  -ms-transform: rotate(308.5deg);
  -o-transform: rotate(308.5deg);
}
.spiner-wheel #wrapper #wheel .eight-fractions .sec {
  -webkit-clip-path: polygon(100% 100%, 0 0, 100% 0);
  clip-path: polygon(100% 100%, 0 0, 100% 0);
}
.spiner-wheel #wrapper #wheel .eight-fractions .sec h5 {
  position: relative;
  top: 30px;
  right: 10px;
  transform: rotate(110deg);
  -webkit-transform: rotate(110deg);
  -moz-transform: rotate(110deg);
  -ms-transform: rotate(110deg);
  -o-transform: rotate(110deg);
}
.spiner-wheel #wrapper #wheel .eight-fractions .sec img {
  width: 45px;
  position: relative;
  top: -12px;
  left: 40px;
  transform: rotate(110deg);
  -webkit-transform: rotate(110deg);
  -moz-transform: rotate(110deg);
  -ms-transform: rotate(110deg);
  -o-transform: rotate(110deg);
}
.spiner-wheel #wrapper #wheel .eight-fractions .sec:nth-child(1) {
  z-index: 1;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}
.spiner-wheel #wrapper #wheel .eight-fractions .sec:nth-child(2) {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.spiner-wheel #wrapper #wheel .eight-fractions .sec:nth-child(3) {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}
.spiner-wheel #wrapper #wheel .eight-fractions .sec:nth-child(4) {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
}
.spiner-wheel #wrapper #wheel .eight-fractions .sec:nth-child(5) {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.spiner-wheel #wrapper #wheel .eight-fractions .sec:nth-child(6) {
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
}
.spiner-wheel #wrapper #wheel .eight-fractions .sec:nth-child(7) {
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
}
.spiner-wheel #wrapper #wheel .eight-fractions .sec:nth-child(8) {
  transform: rotate(315deg);
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  -o-transform: rotate(315deg);
}
.spiner-wheel #wrapper #wheel .sec:nth-child(2n+1) {
  background-color: #000;
}
.spiner-wheel #wrapper #wheel .sec:nth-child(2n+2) {
  background-color: rgb(63, 203, 203);
}
.spiner-wheel #wrapper #wheel .sec:nth-child(2n+5) {
  background-color: rgb(169, 29, 113);
}
.spiner-wheel #wrapper #wheel #inner-wheel .disabled {
  border: 1px solid #fff;
  background-color: #cbcbcb;
}
.spiner-wheel #wrapper #wheel #inner-wheel .disabled h5 {
  color: #7f7f7f;
}
.spiner-wheel #wrapper #wheel #inner-wheel .disabled img {
  filter: grayscale(100%);
}
.spiner-wheel #wrapper #wheel .sec .fa {
  margin-top: -100px;
  color: rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1000000;
  display: block;
  text-align: center;
  font-size: 36px;
  margin-left: -15px;
  text-shadow: rgba(255, 255, 255, 0.1) 0px -1px 0px, rgba(0, 0, 0, 0.2) 0px 1px 0px;
}
.spiner-wheel #wrapper #spin {
  z-index: 10000;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 45%;
  right: 40%;
  border-radius: 50%;
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.spiner-wheel #wrapper #inner-spin {
  width: 40px;
  height: 40px;
  position: relative;
  top: 20%;
  left: 30%;
  margin: -27px 0 0 -27px;
  border-radius: 50%;
  z-index: 999;
}
.spiner-wheel #wrapper #inner-spin img {
  width: 60px;
}
.spiner-wheel #wrapper #inner-spin img:active {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}
.spiner-wheel #wrapper #inner-spin .disabled {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}
@keyframes hh {
  0%, 100% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  50% {
    transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
  }
}
.spiner-wheel #wrapper .spin {
  animation: hh 0.1s;
  -webkit-animation: hh 0.1s;
}
.spiner-wheel .pop-up-rewards {
  z-index: 2000;
  width: 90vw;
  max-width: 380px;
  height: 65vh;
  max-height: 650px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 150px;
  background-color: #fff;
  box-shadow: 5px 5px 10px #000;
  border-radius: 26px;
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  -ms-border-radius: 26px;
  -o-border-radius: 26px;
}
.spiner-wheel .pop-up-rewards .wrapper-button {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: end;
}
.spiner-wheel .pop-up-rewards .wrapper-button .close-button {
  width: 30px;
  height: 30px;
  margin-top: 12px;
  margin-right: 12px;
  border: none;
  background-color: rgb(169, 29, 113);
  color: #fff;
  font-family: fontTrivia;
  font-size: 1.3rem;
  font-weight: 600;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.spiner-wheel .pop-up-rewards img {
  width: 95%;
  max-width: 380px;
  margin-bottom: 20px;
}
.spiner-wheel .pop-up-fireworks {
  width: 100vw;
  max-width: 400px;
  height: 100vh;
  position: absolute;
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  background-color: rgb(0, 0, 0);
  opacity: 0.9;
  z-index: 30000;
}
.spiner-wheel .pop-up-fireworks .golden-congrats {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 20%;
  opacity: 1;
}
.spiner-wheel .pop-up-fireworks .golden-congrats .stars-top {
  width: 100px;
  position: relative;
  top: 15%;
}
.spiner-wheel .pop-up-fireworks .golden-congrats .stars-bottom {
  width: 100px;
  position: relative;
}
.spiner-wheel .pop-up-fireworks .golden-congrats .golden-title {
  width: 300px;
  position: relative;
  display: inline-block;
  font-family: fontTrivia;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 1em;
}
.spiner-wheel .pop-up-fireworks .golden-congrats [data-gold] {
  color: #ac733c;
}
@supports ((-webkit-background-clip: text) or (background-clip: text)) or (-webkit-background-clip: text) {
  .spiner-wheel .pop-up-fireworks .golden-congrats [data-gold] {
    color: transparent;
    background-image: linear-gradient(to right, transparent 0%, transparent 45%, white 50%, transparent 55%, transparent 100%), linear-gradient(90deg, #c78c48, #cf9147 9.4%, #cf9348 9.4%, #b2763e 33.6%, #ad743c 35.7%, #ac723d 46.9%, #b0773d 51.7%, #b0793e 52.1%, #c4914c 64.6%, #c99750 68.5%, #ce9e54 73.2%, #f4d188);
    background-position: 110% 0%, 0 0;
    background-size: 200% auto, auto;
    -webkit-background-clip: text;
    background-clip: text;
    animation: shineCongrats 2s ease-in-out 25ms infinite alternate;
    -webkit-animation: shineCongrats 2s ease-in-out 25ms infinite alternate;
  }
}
.spiner-wheel .pop-up-fireworks .golden-congrats [data-gold]:before {
  content: attr(data-gold);
  color: #f0d8a9;
  position: absolute;
  z-index: -1;
  top: -0.08vw;
  left: 0px;
  text-shadow: black 0px 0.08vw 12px;
}
@supports ((-webkit-background-clip: text) or (background-clip: text)) or (-webkit-background-clip: text) {
  .spiner-wheel .pop-up-fireworks .golden-congrats [data-gold]:after {
    content: attr(data-gold);
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, transparent 0%, transparent 48%, rgba(98, 16, 0, 0.5) 50%, transparent 75%);
    -webkit-background-clip: text;
    background-clip: text;
  }
}
.spiner-wheel .pop-up-fireworks canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
}
.spiner-wheel .pop-up-limit-answers {
  width: 100vw;
  max-width: 400px;
  height: 100vh;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 30000;
}
.spiner-wheel .pop-up-limit-answers .title-limit-answers {
  width: 80vw;
  max-width: 350px;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
}
.spiner-wheel .bases-points-rewards {
  width: 100vw;
  max-width: 400px;
  position: absolute;
  bottom: 2vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-items: flex-end;
}
.spiner-wheel .bases-points-rewards .bases, .spiner-wheel .bases-points-rewards .rewards {
  margin-top: 30px;
}
.spiner-wheel .bases-points-rewards .bases #button-rewards, .spiner-wheel .bases-points-rewards .rewards #button-rewards {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
.spiner-wheel .bases-points-rewards .bases img, .spiner-wheel .bases-points-rewards .rewards img {
  height: 14vh;
  max-height: 80px;
}
.spiner-wheel .bases-points-rewards .bases img:active, .spiner-wheel .bases-points-rewards .rewards img:active {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}
.spiner-wheel .bases-points-rewards .points {
  display: flex;
  justify-content: center;
  align-items: center;
}
.spiner-wheel .bases-points-rewards .points h5 {
  font-size: clamp(1rem, 4vh, 2rem);
  position: fixed;
}
.spiner-wheel .bases-points-rewards .points img {
  height: 15vh;
  max-height: 120px;
}
.spiner-wheel .hide {
  display: none;
}

.category .category-chosen {
  width: 100vw;
  max-width: 400px;
  margin-top: -50px;
  margin-bottom: 80px;
  position: relative;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.category .category-chosen .title h2 {
  margin-bottom: -6px;
  font-size: 1.6rem;
  font-size: 4vh;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}
.category .category-chosen .title h3 {
  margin-bottom: 10px;
  font-size: 2.2rem;
  font-size: 4vh;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  color: rgb(232, 38, 122);
}
.category .category-chosen .category-image {
  width: 38vh;
  max-width: 320px;
  height: 38vh;
  max-height: 320px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(232, 38, 122);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.category .category-chosen .category-image img {
  max-width: 260px;
  height: 35vh;
  max-height: 260px;
  background-color: rgb(63, 203, 203);
  animation: catSelected 500ms ease-in-out 0s 1 normal forwards;
  -webkit-animation: catSelected 500ms ease-in-out 0s 1 normal forwards;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.category .category-chosen .button-begin {
  min-width: 180px;
  width: 35vw;
  max-width: 250px;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: fontTrivia;
  font-size: 4vh;
  font-weight: 700;
  text-transform: uppercase;
  border: 2px solid rgb(232, 38, 122);
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.category .category-chosen .button-begin:hover {
  cursor: pointer;
}
.category .category-chosen .button-begin:active {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}
.category .cards-questions {
  opacity: 0;
  width: 90vw;
  max-width: 400px;
  height: 300px;
  margin-top: 20px;
  overflow: hidden;
  display: flex;
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: rgb(0, 0, 0);
}
.category .cards-questions .title-question {
  width: 100%;
  height: 20vh;
  max-height: 300px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  align-items: center;
  background-color: rgb(188, 42, 122);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.category .cards-questions .title-question h3 {
  width: 90%;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
}
.category .cards-questions .cards-answers {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.category .cards-questions .cards-answers label {
  width: 100%;
  height: 55px;
  min-height: -moz-min-content;
  min-height: min-content;
  margin: 6px;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #989898;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.category .cards-questions .cards-answers label:hover {
  cursor: pointer;
}
.category .cards-questions .cards-answers label h4 {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1;
  text-align: center;
}
.category .cards-questions .cards-answers label input[type=checkbox] {
  position: relative;
  opacity: 0;
}
.category .cards-questions .cards-answers label div {
  display: flex;
  align-items: center;
}
.category .cards-questions .cards-answers label div h5 {
  font-size: 1.1rem;
  text-transform: uppercase;
}
.category .cards-questions .cards-answers label div img {
  height: 25px;
  margin-left: 20px;
}
.category .cards-questions .cards-answers .hide {
  display: none;
}
.category .cards-questions .cards-answers .show {
  display: flex;
}
.category .cards-questions .cards-answers .correct {
  background-color: #01B958;
  animation: blinkCorrect 1s ease 100ms 1 normal forwards;
  -webkit-animation: blinkCorrect 1s ease 100ms 1 normal forwards;
}
.category .cards-questions .cards-answers .wrong {
  background-color: #FF0015;
  animation: shakeWrong 1s ease-in-out 100ms 1 reverse forwards;
  -webkit-animation: shakeWrong 1s ease-in-out 100ms 1 reverse forwards;
}
.category .cards-questions .hide {
  display: none;
}
.category .cards-questions .show {
  display: flex;
}
.category .answers-animation {
  width: 95vw;
  max-width: 400px;
  position: absolute;
  top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.category .answers-animation .answer-animation-correct, .category .answers-animation .answer-animation-wrong {
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  animation: answerAnimation 500ms linear 0ms 1 reverse none;
  -webkit-animation: answerAnimation 500ms linear 0ms 1 reverse none;
}
.category .pop-up-congrats {
  width: 100vw;
  max-width: 400px;
  height: 100vh;
  position: absolute;
  top: 0px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  opacity: 0.9;
  z-index: 100;
}
.category .pop-up-congrats lottie-player {
  position: absolute;
  bottom: 150px;
}
.category .pop-up-congrats .silver-congrats {
  width: 90vw;
  max-width: 360px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100px;
  opacity: 1;
  z-index: 2000;
  animation: scaleCompleted 500ms ease-in-out 0ms 1 normal forwards;
  -webkit-animation: scaleCompleted 500ms ease-in-out 0ms 1 normal forwards;
}
.category .pop-up-congrats .silver-congrats .stars-top {
  width: 100px;
  position: relative;
}
.category .pop-up-congrats .silver-congrats .stars-bottom {
  width: 100px;
  position: relative;
}
.category .pop-up-congrats .silver-congrats .silver-title {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0px;
  position: relative;
  display: inline-block;
  opacity: 1;
  font-family: fontTrivia;
  text-align: center;
  text-transform: uppercase;
  line-height: 1em;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 5px;
}
.category .pop-up-congrats .silver-congrats [data-silver] {
  color: #858585;
}
@supports ((-webkit-background-clip: text) or (background-clip: text)) or (-webkit-background-clip: text) {
  .category .pop-up-congrats .silver-congrats [data-silver] {
    color: transparent;
    background-image: linear-gradient(to right, transparent 0%, transparent 35%, white 50%, transparent 55%, transparent 100%), linear-gradient(270deg, #8c8c8c 1.3%, #999 15%, #868686 29.6%, #828282 29.6%, #7d7d7d 31.8%, #797979 31.8%, #6a6a6a 38.9%, #d3d3d3);
    background-position: 10% 0%, 0 0;
    background-size: 200% auto, auto;
    -webkit-background-clip: text;
    background-clip: text;
    animation: shineCongrats 2s ease-in-out 25ms infinite alternate-reverse;
    -webkit-animation: shineCongrats 2s ease-in-out 25ms infinite alternate-reverse;
  }
}
.category .pop-up-congrats .silver-congrats [data-silver]:before {
  content: attr(data-silver);
  color: #fff;
  position: absolute;
  z-index: -1;
  top: -0.08vw;
  left: 0px;
  text-shadow: black 0px 0.08vw 12px;
}
@supports ((-webkit-background-clip: text) or (background-clip: text)) or (-webkit-background-clip: text) {
  .category .pop-up-congrats .silver-congrats [data-silver]:after {
    content: attr(data-silver);
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, transparent 0%, transparent 48%, rgba(17, 17, 17, 0.5) 50%, transparent 75%);
    -webkit-background-clip: text;
    background-clip: text;
  }
}
.category .show-side-left {
  display: flex;
  animation: showSideLeft 500ms ease-in-out 0s 1 normal forwards;
  -webkit-animation: showSideLeft 500ms ease-in-out 0s 1 normal forwards;
}
.category .show-side-right {
  animation: showSideRight 500ms ease-in-out 0s 1 reverse forwards;
  -webkit-animation: showSideRight 500ms ease-in-out 0s 1 reverse forwards;
}
.category footer {
  width: 95vw;
  max-width: 400px;
  margin-top: 20px;
  position: absolute;
  bottom: 2vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.category footer .back-arrow {
  width: 20vw;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.category footer .back-arrow:hover {
  cursor: pointer;
}
.category footer .back-arrow img {
  height: 3vh;
  max-height: 30px;
}
.category footer .back-arrow h5 {
  font-size: 1rem;
  font-size: 3vh;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
}
.category footer .points {
  opacity: 0;
  display: none;
  justify-content: center;
  align-items: center;
  transition: opacity 1s ease 0s;
  -webkit-transition: opacity 1s ease 0s;
  -moz-transition: opacity 1s ease 0s;
  -ms-transition: opacity 1s ease 0s;
  -o-transition: opacity 1s ease 0s;
}
.category footer .points h5 {
  font-size: clamp(1rem, 4vh, 2rem);
  position: fixed;
}
.category footer .points img {
  height: 12vh;
  max-height: 120px;
}
.category footer .questions {
  width: 20vw;
  margin-left: 0px;
  font-size: 1.3rem;
  font-size: 3vh;
  display: flex;
  justify-content: end;
}
.category .show-questions {
  display: flex;
}
.category .show-questions.category-chosen {
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20vh;
}
.category .show-questions .title {
  margin-top: 10px;
  align-items: flex-start;
}
.category .show-questions .title h2 {
  font-size: 4vh;
}
.category .show-questions .title h3 {
  font-size: 1.5rem;
  font-size: 4.2vh;
}
.category .show-questions .title h4 {
  font-size: 4vh;
}
.category .show-questions .category-image {
  width: 100px;
  height: 100px;
  margin-bottom: 0;
  border: none;
  margin-right: 80px;
}
.category .show-questions .category-image img {
  width: 10vh;
  max-width: 100px;
  height: 10vh;
  max-height: 100px;
  animation: catIcon 2s ease 1s infinite normal both;
  -webkit-animation: catIcon 2s ease 1s infinite normal both;
}
.category .show-questions .button-begin {
  display: none;
}
.category .show-questions .cat-change {
  display: none;
}
.category .show-questions .points {
  display: flex;
  opacity: 1;
}
.category .show-questions .hide {
  display: none;
}
.category .hide {
  display: none;
}
.category .show {
  display: flex;
  opacity: 1;
}

@media (max-height: 550px) {
  .category .show-questions .title {
    margin-right: 30px;
    margin-left: -60px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
  }
  .category .show-questions .title h2 {
    margin-right: 10px;
  }
  .category .cards-questions {
    margin-top: 120px;
  }
  .category .cards-questions .cards-answers label h4 {
    font-size: 1.2rem;
  }
}
@media (max-width: 350px) {
  .spiner-wheel #wrapper #wheel {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
  }
}
@media (max-width: 320px) {
  .spiner-wheel #wrapper #wheel {
    margin: 0;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}/*# sourceMappingURL=app.css.map */